# Add non-secret environment-variable names and example values here.
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=rootpassword
ACADEMIC_PORT=8080
ACTIVITY_PORT=8081
JWT_SECRET=c8f1e2d3b4a5968778695a4b3c2d1e0fa1b2c3d4e5f60718293a4b5c6d7e8f90
JWT_EXPIRATION=14400000

# 1 2 3 4 5 6 7 8 9 10 11 12
