# Add non-secret environment-variable names and example values here.
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=rootpassword
ACADEMIC_PORT=8080
ACTIVITY_PORT=8081
JWT_SECRET=your_jwt_secret_key_at_least_64_characters_long_for_hs512
JWT_EXPIRATION=14400000

# 1 2 3 4 5 6 7 8 9 10 11 12
